
 
#bodreg{
    background-image: url("images/room.jpeg");
    background-size: cover;
    margin:0;
    padding:0;
  
}

#register{
    width: 300px;
    padding-left: 4px;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-right: 4px; 
   height: max-content;
   margin:40px auto;
   border:2px solid black;
   text-align: center;
   background-color:#D8BFD8
   
    
}
h1, h2{
    font-family:fantasy;
    background-color:#e9967a;
}
/* #main2{
   
    border:1px solid purple;
    height:max-content;
    width:max-content;
    padding-left: 4px;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-right: 4px; 

   margin:10px auto;
 
    
} */


.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;

}
.menu li{
    display: inline-block;
}
.menu li a{
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:15px;
}
.menu li a:hover{
    background:coral;
    color:#333;
    border-radius:10px;

}


