.menu {
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.menu li a:hover {
    background: coral;
    color: #333;
    border-radius: 10px;
}

body {
    /* background: url("images/setup2.jpeg"); */
}

h1 {
    color: white;
}

.todo {
    color: white;
}

.logo {
    margin: 5px;
}

#ment {
    color: black;
}

.codm {
    border: 2px solid black;
    height: 100px;
    width: max-content;
}

.Profile {
    border: 1px solid red;
    float: left;
}

.ranked {
    border: 1px solid purple;
    float: right;
}