* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: sans-serif;
    line-height: 1.8em;
    background-color: rgb(238, 203, 237);
}

.container-1 {
    max-width: 1000px;
    margin: 200px auto;
    border-radius: 12px;
    border-radius: 10px;
    display: flex;
}

.container {
    flex: 0.5;
    padding: 20px 40px;
    background-color: rgb(32, 28, 28);
    max-width: 500px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /* width: 50%;
    position: relative;
    right: 25%; */
}

.container img {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.light {
    font-weight: lighter;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

.bold {
    font-weight: bold;
    /* font-style: italic; */
    color: white;
    text-align: center;
}

.span-color {
    color: rgb(109, 65, 109);
}

input {
    display: block;
    margin: 30px 0;
    padding: .5rem;
    border-radius: 12px;
    border: 1px grey;
    outline: 0;
    background-color: rgb(71, 68, 68);
    width: 100%;
}

.login-btn {
    border: 1px;
    border-radius: 12px;
    background-color: rgb(109, 65, 109);
    /* color: white; */
    font-size: x-small;
    padding: .6rem;
    width: 100%;
}

.new-account {
    color: white;
    font-size: 14px;
    text-align: center;
}

.new-account a {
    color: rgb(109, 65, 109);
}

.container-2 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    flex: 1.0;
    background: url('images/room.jpeg') no-repeat center center/cover;
}

.menu {
    float: right;
    list-style: none;
    margin-top: -180px;
    margin-right: 10px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.menu li a:hover {
    background: coral;
    color: #333;
    border-radius: 10px;
}