/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    background-size: contain;
    background-attachment: fixed;
    background-image: url("images/jack-b-PKdXoZxFErw-unsplash.jpg"), linear-gradient(lavender, orchid);
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 5rem auto;
    border: .2px solid rgb(241, 238, 238);
    padding: .4rem .9rem;
    border-radius: 4px;
    background: white;
    background: url("images/IMG_0418.jpg");
}

h2 {
    margin-bottom: 2rem;
    font-size: 19px;
    text-align: center;
    color: rgb(182, 93, 182);
}

h1 {
    font-weight: lighter;
}

span.text-purple {
    color: rgb(182, 93, 182);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.for-1 input {
    padding: .5rem .4rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: 0;
}

.form-goup input {
    padding: .5rem .4rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: 0;
}

.terms {
    text-decoration: solid;
    font-size: 14px;
    text-align: justify;
    line-height: 1.3;
    margin: 1rem 0;
}

.terms a {
    text-decoration: none;
    color: rgb(182, 93, 182);
}

.last {
    width: 100%;
    padding: .5rem .4rem;
    background-color: rgb(182, 93, 182);
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    margin-bottom: 1rem;
}

.signIn {
    text-decoration: solid;
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
}

.signIn a {
    text-decoration: none;
    color: rgb(182, 93, 182);
}

.menu {
    float: right;
    list-style: none;
    margin-top: -50px;
    margin-right: 10px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.menu li a:hover {
    background: orchid;
    color: #333;
    border-radius: 10px;
}